<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
        <tr>
          <td class="btn btn-default btn-sm pin"><%= pin.description %></td>
          <td><%= link_to 'Show', pin, class: "btn btn-primary btn-xs" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-primary btn-xs" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><%= link_to 'Destroy', pin, class: "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path, class: "btn btn-primary" %>
<br>
<br>
<Strong>ASPIRATIONAL WORDS</strong>
  <p>Click the button for a random word, chosen from your pins<p>
<p><%= link_to @pins.sample.description, pins_path, class: "btn btn-primary btn-lg" %></p>