<div class="jumbotron center">
 <h1>ASPIRATIONAL WORDS</h2>
  <p>Reload the page for a random aspirational word<p>
 <% if user_signed_in? %>
      <p><%= ['relax','observe','analyze','learn'].sample %></p>
      <%= link_to "Pins", pins_path, class: "btn btn-default btn-lg" %>
 <% else %>
   <p><%= ['relax','observe','analyze','learn'].sample %></p>
   <p>
     <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
     <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
   </p>
  <% end %>  
</div>