<!DOCTYPE html>
<html>
<head> <%# Applies to entire application - pages are loaded within this %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width:100%">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Pinteresting</title>
  <meta property="st:title" content="Pinteresting"/>
  <meta name="viewport" content="width=1024">
  <meta property="og:url" content="http://alec-pinteresting.com/"/>
  <meta property="og:site_name" content="Alec Pinteresting"/>
  <meta property="og:title" content="Alec Pinteresting"/>
  <meta property="og:description" content="This is my One Month Rails Pinteresting site.">
  <meta name="twitter:description" content="This is my One Month Rails Pinteresting site.">
  <meta name="twitter:title" content="Alec Pinteresting">
  <meta name="description" content="This is my One Month Rails Pinteresting site.">
  <meta name="twitter:creator" content="@alecfwilson">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' =>	true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="http://alec-pinteresting.com/" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon_32.png" sizes="32x32">
  <link rel="icon" href="/favicon_64.png" sizes="64x64">
  <!-- Bing Webmaster Verification -->
  <meta name="msvalidate.01" content="1EB9017CD4DBDBA2DAEFB33D189D1691" />
  <!-- facebook insights -->
  <meta property="fb:admins" content="1065810113" />
  <!-- start GA -->   
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56821263-1', 'auto');
    ga('require', 'linkid', 'linkid.js');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

    </script>
  <!-- end GA -->
  <!-- start Mixpanel -->
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("e89b03345bda892c4d8c6613a27a1358");</script>
  <!-- end Mixpanel -->
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
